@import url('logonavfot.css');



.main{
    min-height: 100%;
    width: 100%;
}

.allnav li:nth-child(4) a{
    color: burlywood;
}

/*------ 美食選單----- */
.foodsel ul{
    display: flex;
    justify-content: center;
    
}

.foodsel{
    padding: 100px 0px 60px;
    display: block;
    margin: 0 auto;
}

.foodsel li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    outline-style: double;
    
    width: 100px;
    height: 50px;
    position: relative;
}

.foodsel a{
    display: block;
    color: #292929;
}

.foodsel a:hover{
    outline-style: groove;
}



/* -----------美食部位-------- */
.foodout{
    display: flex;
    flex-direction: column;
}

.fooodout_waper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

 
.foodout img , .foodout2 img , .foodou3 img{
    width: 100%;
    display: block;
}


.north_1 , .north_2 , .central{
    display: flex;
}


.foodout h2{
    font-size: 24px;
    color: black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}

    
.foodout a{
    display: block;
    position: relative;
}





.foodout2{
    display: flex;
    flex-direction: column;
}


.central h2{
    font-size: 24px;
    color: black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}

    
.central a{
    display: block;
    position: relative;
}

.central_2 , .central_3{
    display: flex;
}

.central_2 h2{
    font-size: 24px;
    color: black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);   
}

.fooodout_waper h2{
    color: #FFFFF3;
}


    
.central_2 a , .central_3 a{
    display: block;
    position: relative;
}




.central_3 h2{
    font-size: 24px;
    color: #FFFFF3;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}



.foodou3 a{
    display: block;
    position: relative;
}

.foodou3 h2{
    font-size: 24px;
    color: #FFFFF3;

    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}


.foodou3{
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
}



.south_2 , .south_3 , .south_4{
    display: flex;
    justify-content: center;
}

.foodout a , .foodout2 a , .foodou3 a{
    filter: brightness(60%);
}

.foodout a:hover , .foodout2 a:hover , .foodou3 a:hover{
    filter: brightness(100%);
}



.foodout{
    z-index: 1;
}


/* ----------RWD------- */

@media screen and (max-width: 575.98px){
    .fooodout_waper , .foodou3 , .foodout2{
      width: 100%;
    }
    .fooodout_waper h2{
        font-size: 16px;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px){
    .fooodout_waper , .foodou3 , .foodout2{
      width: 540px;
    }

    .fooodout_waper h2{
        font-size: 18px;
    }
}
  
@media (min-width: 768px) and (max-width: 991.98px){
    .fooodout_waper , .foodou3 , .foodout2{
      width: 720px;
    }
    .fooodout_waper h2{
        font-size: 20px;
    }
}
  
@media (min-width: 992px) and (max-width: 1199.98px){
    .fooodout_waper , .foodou3 , .foodout2{
      width: 960px;
    }
}
  
@media (min-width: 1200px) and (max-width: 1139.98px){
    .fooodout_waper , .foodou3 , .foodout2{
      width:1140px;
    }
}
