@import url('logonav.css');
@import url('footer.css');

html, body{
    height: 100%;
}


main{
    min-height: 100%;
    width: 100%;
    display: block;

}


/*------ 美食選單----- */
.foodsel ul{
    display: flex;
    justify-content: center;
    
}

.foodsel{
    padding: 100px 0px 60px;
    display: block;
    margin: 0 auto;
}

.foodsel li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    
    width: 100px;
    height: 50px;
    position: relative;
    outline-style: double;
}

.foodsel a{
    display: block;
    color: #292929;
}

.foodsel a:hover{
    outline-style: groove;
}

.foodtitle{
    padding: 0px 0px 30px;
    display: block;
    margin: 0 auto;
}

.foodtitle h1{
    text-align: center;
    letter-spacing: 5px;
}


/* -----------美食地圖-------- */



.allfoodwarpper{
    max-width: 1200px;
    /* padding: 0 120px; */
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    width: 100%;
}

.allfoodwarpper img{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.allfoodwarpper h2{
    font-size: 26px;
    color: #292929;
    text-align: center;

}

.allfoodwarpper h3{
    font-size: 18px;
    color: #292929;
    text-align: center;
    line-height: 1.8;
    border-bottom: 1px solid;
}



.allfoodwarpper p{
    font-size: 16px;
    color: #7C7C7C;
    word-break: keep-all;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-left: 10px;
    margin: 5px 0 20px 0;
}

.foodmap {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
}


.foodiewaper{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.foodie{
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: center;
    
}


.foodie2waper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food2map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.food2{
    justify-content: flex-end;
    display: flex;
    margin: 50px 0px;
    /* width: 500px; */
    /* margin: auto; */
    justify-content: center;


}

.foodie3waper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food3map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    box-sizing: border-box;
}

.food3{
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: center;

}


section{
    padding-top: 20px;
}

