@import url('logonavfot.css');


main{
    min-height: 100%;
    width: 100%;
}






/*------ 美食選單----- */
.foodsel ul{
    display: flex;
    justify-content: center;
    
}

.foodsel{
    padding: 100px 0px 60px;
    display: block;
    margin: 0 auto;
}

.foodsel li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    
    width: 100px;
    height: 50px;
    position: relative;
    outline-style: double;
}

.foodsel a{
    display: block;
    color: #292929;
}

.foodsel a:hover{
    outline-style: groove;
}

.foodtitle{
    padding: 0px 0px 30px;
    display: block;
    margin: 0 auto;
}

.foodtitle h1{
    text-align: center;
    letter-spacing: 5px;
}


/* -----------美食地圖-------- */



.allfoodwarpper{
    max-width: 1200px;
    /* padding: 0 120px; */
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
    width: 100%;
}

.allfoodwarpper img{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.allfoodwarpper h2{
    font-size: 26px;
    color: #292929;
    text-align: center;

}

.allfoodwarpper h3{
    font-size: 18px;
    color: #292929;
    text-align: center;
    line-height: 1.8;
    border-bottom: 1px solid;
}



.allfoodwarpper p{
    font-size: 16px;
    color: #7C7C7C;
    word-break: keep-all;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.2;
    margin-left: 10px;
    margin: 5px 0 20px 0;
}

.foodmap {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
}


.foodiewaper{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.foodie{
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: center;    
}


.foodbeape{
    background-image: url('./img/food/food1.jpg');
    width: 130px;
    height: 480px;
    background-position: 0%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    animation:  foodbeape 10s ease-out infinite;
}

@keyframes foodbeape{
    0%{
        transform: translateY(2%);
    }

    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(2%);
    }
}


.foodbeape2{
    background-image: url('./img/food/food1.jpg');
    width: 130px;
    height: 480px;
    background-position: 50%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
    animation:  foodbeape2 10s ease-in-out infinite;
}

@keyframes foodbeape2{
    0%{
        transform: translateY(5%);
    }

    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(5%);
    }
}

.foodbeape3{
    background-image: url('./img/food/food1.jpg');
    width: 130px;
    height: 480px;
    background-position: 100%;
    background-size: 300%;
    background-repeat: no-repeat;
    animation:  foodbeape 20s ease infinite;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
   
}
/* 第一張介紹end */

.foodie2waper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food2map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.food2{
    justify-content: flex-end;
    display: flex;
    margin: 50px 0px;
    justify-content: center;


}

.marais{
    background-image: url('./img/food/food2.jpg');
    width: 130px;
    height: 480px;
    background-position: 0%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
    animation:  foodbeape 10s ease-out infinite;
}

.marais2{
    background-image: url('./img/food/food2.jpg');
    width: 130px;
    height: 480px;
    background-position: 50%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 2px 3px 8px rgba(0,0,0,0.5);
    animation:  foodbeape2 10s ease-out infinite;
}

.marais3{
    background-image: url('./img/food/food2.jpg');
    width: 130px;
    height: 480px;
    background-position: 100%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
    animation:  foodbeape 10s ease-out infinite;
}

/* 第二張end */

.foodie3waper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food3map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    box-sizing: border-box;
}

.food3{
    display: flex;
    margin: 50px 0px 50px 0px;
    justify-content: center;

}

.buger{
    background-image: url('./img/food/food3.jpg');
    width: 130px;
    height: 480px;
    background-position: 0%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
    animation:  foodbeape 10s ease-out infinite;
}

.buger2{
    background-image: url('./img/food/food3.jpg');
    width: 130px;
    height: 480px;
    background-position: 50%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
    animation:  foodbeape2 10s ease-out infinite;
}

.buger3{
    background-image: url('./img/food/food3.jpg');
    width: 130px;
    height: 480px;
    background-position: 100%;
    background-size: 300%;
    background-repeat: no-repeat;
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
    animation:  foodbeape 10s ease-out infinite;
}


section{
    padding-top: 20px;
}


/* ----------R-----W------D------- */

@media screen and (max-width: 767.98px){
    .food2map{
        order: 2;
    }
}
  