@import url('logonavfot.css');




.main{
    min-height: 100%;
    /* width: 100%; */
}

.allnav li:nth-child(4) a{
    color: burlywood;
}

/*------ 美食選單----- */
.foodsel ul{
    display: flex;
    justify-content: center;
    
}

.foodsel{
    padding: 100px 0px 60px;
    display: block;
    margin: 0 auto;
}

.foodsel li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    outline-style: double;
    
    width: 100px;
    height: 50px;
    position: relative;
}

.foodsel a{
    display: block;
    color: #292929;
}

.foodsel a:hover{
    outline-style: groove;
}


aside{
    position: fixed;
    right: 3%;
    bottom: 30px;
    width: 55px;
    background-color: white;
    z-index: 1999;
    border-radius: 50%;
    
    
}

aside:hover{
    background-color: burlywood;
    cursor: pointer;
}



/* -----------美食部位-------- */
#foodout{
    display: flex;
    flex-direction: column;
}

.fooodout_waper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

 
#foodout img , #foodout2 img , #foodou3 img{
    width: 100%;
    display: block;
}


.north , .central , .south{
    display: flex;
}


#foodout h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}

    
#foodout a{
    display: block;
    position: relative;
}





#foodout2{
    display: flex;
    flex-direction: column;
}


.central h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    
}
    
.central a{
    display: block;
    position: relative;
}


.fooodout_waper h2{
    color: #FFFFF3;
    font-size: 28px;
}


#foodou3 a{
    display: block;
    position: relative;
}

#foodou3 h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}


#foodou3{
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
}


#foodout a , #foodout2 a , #foodou3 a{
    filter: brightness(60%);
}

#foodout a:hover , #foodout2 a:hover , #foodou3 a:hover{
    filter: brightness(100%);
}



#foodout{
    z-index: 1;
}


/* ----------RWD------- */

@media screen and (max-width: 575.98px){
    .fooodout_waper {
      width: 100%;
    }
    aside{
        width: 30px;
    }

    .fooodout_waper h2{
        font-size: 14px;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px){
    .fooodout_waper{
      width: 540px;
    }

    .fooodout_waper h2{
        font-size: 20px;
    }
}
  
@media (min-width: 768px) and (max-width: 991.98px){
    .fooodout_waper{
      width: 720px;
    }
    .fooodout_waper h2{
        font-size: 24px;
    }
}
  
@media (min-width: 992px) and (max-width: 1199.98px){
    .fooodout_waper{
      width: 960px;
    }

    .fooodout_waper h2{
        font-size: 26px;
    }
}

