/* @import url('reset.css'); */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body a{
    text-decoration: none;
}

.wapper{
    min-height: 100%;
    margin: 0;
    /* flex-wrap: nowrap; */
}

/* -------LOGO ---------*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0px 20px;
}

header img{
    width: 150px;
    height: 150px;
}

header ul{
    display: flex;
}

header li{
    margin-right: 2px;
    line-height: 80px;
}

header ul > li > a >img{
    width: 30px;
    height: 30px;
}




/* -------主選單------- */
nav{
    /* width: 100%; */
    text-align: center;
    display: flex;
    position: sticky;
    top: 0px;
    font-weight: bold;

}

nav ul{
    /* background-color: transparent;       */
    margin: 0 auto ;
    background-color: white;
    box-shadow: 0 0 15px 20px white;
    /* margin-top: -1px; */
    display: flex;
    top: 0;
    
}



nav ul>li{
    position: relative;
}

nav ul>li>a{
    display: block;
    text-align: center;
    color: #888098;
    line-height: 50px;
}

nav ul>li>a:hover{
    color: #292929;
}


nav a {
    text-decoration: none;
    /* width: 200px; */
    padding: 0 20px;
}



/* 次選單 */
ol{
    background-color: transparent;
    display: none; 
    position: absolute;
}

ol>li>a{
    display: block;
    line-height: 50px;
    text-align: center;
    color: #888098;
}

ol>li>a:hover{
   color: #292929;
}

ul>li:hover ol{
    display: block;
}


/*------ 穿搭選單----- */
.hot ul{
    display: flex;
    justify-content: center;
}

.hot{
    padding: 100px 0px 50px;
    display: block;
    margin: 0 auto;
}

.hot li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    outline-style: auto;
    width: 100px;
    height: 50px;
}

.hot a{
    display: block;
}

/* -----------圖片區-------- */
main{
    width: 1200px;
}

.ht_wapper{
    width: 100%;
    padding: 0 120px;
}

.ht_left{

}

.ht_bighd img{
    border-radius: 50%;
    width: 250px;
}








/* --footer-- */
footer{
    padding-top: 100px;
    width: 100%;
    
}

.foot{
    margin-top: 0;
    background-color: black;
    height: 150px;
    max-width: 100%;
    z-index: 99;

    display: flex;
    
}

.foot p{
    align-self: center;
    margin: 0 auto;
    color: #FFFFF3;
    
}

.foot img{
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    
}

.foot ul>li>a:hover{
    
}

.foot ul>li{
    float: left;
    
}
