*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* -------LOGO ---------*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0px 20px;
}

header img{
    width: 150px;
    height: 150px;
}


/* -------主選單------- */
.allnav{
    width: 100%;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0px;
    font-weight: bold;
    z-index: 9;
}

.allnav ul{
    /* background-color: transparent;       */
    margin: 0 auto ;
    background-color: white;
    box-shadow: 0 0 15px 20px white;
    /* margin-top: -1px; */
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.allnav li{
    position: relative;
}

.allnav ul > li >a{
    text-align: center;
    color: #888098;
    line-height: 55px;
    font-size: 16px;  
    padding: 0 10px;
}

.allnav a:hover{
    color: burlywood;
}



.allnav a:after{
    content: "";
    display: block;
    width: 0%;
    height: 1.5px;
    background-color: #DEB887;
    transition: .5s;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.allnav a:hover:after{
    width: 80%;
}


/* -----------footer------------ */
.foot1{
    background-color: #888098;
    height: 130px;
    width: 100%;
    z-index: 99;
    position: fixed;
    position: relative;

    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.foot1 h1 , .foot1 a{
    font-size: 18px;
    line-height: 1.2;
}

.foot1 a{
    font-size: 20px;
    color: #FFFFF3;
}

.foot1 a:hover{
    color: burlywood;
}

.join{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot1 li{
    display: flex;
    text-align: center;
    justify-content: center;
}


.follow{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot_right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot_logo img{
    width: 230px;
    display:flex;
    flex-grow: 1;
    align-content: center;
}

.foote_p{
    height: 20px;
    margin-top: 0;
    background-color: #888098;
    width: 100%;
    z-index: 99;
    position: fixed;
    position: relative;
    text-align: center;
}



/* ----------RWD------- */

@media screen and (max-width: 575.98px){
    .foot1{
      width: 100%;
    }
    .foot1 img{
        display: none;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px){
    .foot1{
      width: 100%;
    }

    .foot1 h1{
        font-size: 18px;
    }
    .foot1 img{
        display: none;
}