*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* -------LOGO ---------*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0px 20px;
}

header img{
    width: 150px;
    height: 150px;
}



/* -------主選單------- */
.allnav{
    width: 100%;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0px;
    font-weight: bold;
    z-index: 9;

    background-color: white;
    box-shadow: 0 0 15px 15px white;
    height: 55px;
    
}

.allnav .main_nav{
    /* background-color: transparent;       */
    margin: 0 auto ;
    
    /* margin-top: -1px; */
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}

/* .allnav .main_nav{
    overflow: hidden;
    transition: .2s;
} */

.allnav .main_nav > .nav_list{
    display: flex;
    justify-content: center;
}

.allnav .main_nav > .nav_list >li{
    position: relative;
}

.allnav .main_nav > .nav_list >li >a{
    text-align: center;
    color: #888098;
    line-height: 55px;
    font-size: 16px;  
    padding: 0 10px;
}

.allnav .main_nav > .nav_list > li >a:hover{
    color: burlywood;
}



.allnav .main_nav > .nav_list >li >a:after{
    content: "";
    display: block;
    width: 0%;
    height: 1.5px;
    background-color: #DEB887;
    transition: .5s;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.allnav .main_nav > .nav_list >li >a:hover:after{
    width: 80%;
}


/* label */
.hamburger_menu{
    position: absolute;
    cursor: pointer;
    display: inline-block;
    /* width: 80%; */
    /* z-index: 11; */
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 0;
    bottom: 50%;
    right: 10%;
}

.ham-bar {
    
    position: absolute;
    transition: all .5s;
    
}

.ham-1 , .ham-2 , .ham-3{
    width: 40px;
    height: 2px;
    background-color: #292929;
    transition: 0.4s;
    
    display: block;
    position: relative;
}



.hamburger_menu .ham-1.-on{
    transform: rotate(-45deg);
}

.hamburger_menu .ham-3.-on{
    transform: rotate(45deg);
}

.hamburger_menu .ham-2.-on{
    opacity: 0;
    transition: .5;
}

.nav1{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}


/*  */

.ham-1 , .ham-3{
    position: absolute;
    transition: .2s ease-out;
    
    
}
.ham-1{
    transform: translateY(-6px);
}
  
.ham-3{
    transform: translateY(6px);
}

@media screen and (min-width: 768px){
    .allnav .main_nav{
        display: block !important;
    }
    

    .hamburger_menu{
        display: none;
    }
    
}
@media screen and (max-width: 767.98px) {
    
    .allnav .main_nav{
        display: none;
    }

    .allnav .main_nav > .nav_list{
        flex-direction: column;
        height: 100vh;
        background-color: white;
    }

    /* .hamburger_menu{
        display: block;
    } */

    
    
}

/* -----------footer------------ */
.foot1{
    background-color: #888098;
    height: 130px;
    width: 100%;
    z-index: 99;
    position: fixed;
    position: relative;

    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.foot1 h1 , .foot1 a{
    font-size: 18px;
    line-height: 1.2;
}

.foot1 a{
    font-size: 20px;
    color: #FFFFF3;
}

.foot1 a:hover{
    color: burlywood;
}

.join{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot1 li{
    display: flex;
    text-align: center;
    justify-content: center;
}


.follow{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot_right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot_logo img{
    width: 230px;
    display:flex;
    flex-grow: 1;
    align-content: center;
}

.foote_p{
    height: 20px;
    margin-top: 0;
    background-color: #888098;
    width: 100%;
    z-index: 99;
    position: fixed;
    position: relative;
    text-align: center;
}



/* ----------RWD------- */

@media screen and (max-width: 575.98px){
    .foot1{
      width: 100%;
    }
    .foot1 img{
        display: none;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px){
    .foot1{
      width: 100%;
    }

    .foot1 h1{
        font-size: 18px;
    }
    .foot1 img{
        display: none;
    }
}