@import url('logonavfot.css');



main{
    min-height: 100%;
    width: 100%;
}

/* -----------top-------------- */
.topname{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:30px 0 100px;
}

.topname img{
    width: 100%;
}

.toptite2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 50px;
}

.topic{
    display: flex;
    flex-grow: 1;
}

.toptite{
    display: flex;
    flex-grow: 2;
    width: 160px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.toptite h1{
    width: 120px;
    border-bottom: 2px dashed;
    font-size: 30px;
}
/* topend-------- */


/* -----------圖片區-------- */



.everyootd{
    width: 1440px;
    /* margin: auto; */
}

.otd_left1 ul{
    display: flex;
    width: 1000px;
    overflow: hidden;
}

.otd_left1 li{
    flex-shrink: 1;
    width: 500px;
    height: 500px;
}





/* 待輪播 */
.everyootd img{
    width: 100%;
    display: block;
}

.bigpic img{
    width: 1000px;
}

.bigpic{
    padding:80px 0;
}

.bigpic ul{
    display: flex;
    justify-content: center;
}

.bigpic ul:nth-child(1){
    align-items: center;
}

/* 輪播end */



.pic2 img{
    /* display: flex;
    justify-content: flex-end; */
    /* position: relative;
    z-index: 1;
    left: 10%; */
    display: block;
}

.pic3{
    justify-content: flex-start;
    display: flex;
}


.subemiddle{
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    display: flex;
    padding: 0 120px;
    padding-bottom: 80px;
}

.subemiddle h2{
    align-items: center;
    display: flex;
    text-align: center;
}

.pic3 , .pic2{
    margin: 0 10px;
}
/*  */

/* ---more---- */
.seemore{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5px;
}

.moretit h1{
    text-align: center;
    border-bottom: 2px dashed;
    width: 200px;
    margin: auto;
    color: #1A3E9A;
}

.moretit h1:hover{
    color: #DEB887;
}

.aboutootd{
    display: flex;
    
    background-color: #292929;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ootdpiture ul{
    display: flex;
    padding-bottom: 5px;
    padding-top: 10px;
}

.ootdpiture li{
    padding-right: 20px;
    
}

.ootdpituree img{
    width: 300px;
}


.ootdpiture h3:hover{
    opacity: 1;
    
} 




/* .ootdpiture h3{
    font-size: 26px;
    color: #FFFFF3;

    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    opacity: .8;
} */



/* page */
/* .page{
    padding-top: 20px;
    font-size: 22px;
}

.page img:hover{
    color: burlywood;
} */