@import url('logonavfot.css');



main{
    min-height: 100%;
    width: 100%;
}

body img{
    display: block;
}

.allnav li:nth-child(2) a{
    color: burlywood;
}

/* -----------top-------------- */
.topname{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:30px 0 100px;
}

.topname img{
    width: 100%;
}

.toptite2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 50px;
}

.topic{
    display: flex;
    flex-grow: 1;
}

.toptite{
    display: flex;
    flex-grow: 2;
    width: 160px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.toptite h1{
    width: 120px;
    border-bottom: 2px dashed;
    font-size: 30px;
}
/* topend-------- */


/* ----------ht 版面 細節圖-------- */

.htpice{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.htpice img{
    width: 100%;
}

.smalpic img{
    width: 100px;
    
}
.smalpic {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.ht_big{
    margin: 0 20px;
}

/* .smalpic{
    display: flex;
    
} */



/*-- 待輪播 --*/
.everyootd img{
    width: 100%;
    display: block;
}

.bigpic img{
    width: 1000px;
}

.bigpic{
    padding:80px 0;
}

.bigpic ul{
    display: flex;
    justify-content: center;
}

.bigpic ul:nth-child(1){
    align-items: center;
}

/* 輪播end */



.pic2 img{
    /* display: flex;
    justify-content: flex-end; */
    /* position: relative;
    z-index: 1;
    left: 10%; */
    display: block;
}

.pic3{
    justify-content: flex-start;
    display: flex;
}


.subemiddle{
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    display: flex;
    padding: 0 120px;
    padding-bottom: 80px;
}

.subemiddle h2{
    align-items: center;
    display: flex;
    text-align: center;
}

.pic3 , .pic2{
    margin: 0 10px;
}

.middle_left{
    animation:  left 10s forwards;
}

@keyframes left{

    0%{
        opacity: 0;
        transform: translatex(-5%);
    }
    100%{
        opacity: 1;
        transform: translatex(5%);
    }
}

.middle_right{
    animation:  right 10s forwards;
}

@keyframes right{

    0%{
        opacity: 0;
        transform: translatex(5%);
    }
    100%{
        opacity: 1;
        transform: translatex(0%);
    }
}


/*  */


/* ---more---- */
.seemore{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5px;
}

.moretit h1{
    text-align: center;
    border-bottom: 2px dashed;
    width: 200px;
    margin: auto;
    color: #4B7CAA;
}

.moretit h1:hover{
    color: #DEB887;
}

.aboutootd{
    display: flex;
    
    background-color: #292929;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.ootdpiture ul{
    display: flex;
    padding-top: 10px;
    width: 1200px;
    flex-wrap: wrap;
}

.ootdpiture li{
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.ootdpituree img{
    /* width: 300px; */
}


.ootdpiture h3:hover{
    opacity: 1;
    
} 

.ootdpiture img{
    filter: brightness(15%);
}

.ootdpiture img:hover{
    filter: brightness(100%);
}





/* .ootdpiture h3{
    font-size: 26px;
    color: #FFFFF3;

    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    opacity: .8;
} */



