@import url('logonavfot.css');



main{
    min-height: 100%;
    width: 100%;
}

body img{
    display: block;
}

.allnav li:nth-child(2) a{
    color: burlywood;
}

/* -----------top-------------- */
.topname{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:30px 0 100px;
}

.topname img{
    width: 100%;
}

.toptite2 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 50px;
}

.topic{
    display: flex;
    flex-grow: 1;
}

.toptite{
    display: flex;
    flex-grow: 2;
    width: 160px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.toptite h1{
    width: 120px;
    border-bottom: 2px dashed;
    font-size: 30px;
}
/* topend-------- */


/* ----------ht 版面 細節圖-------- */

.htpice{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 80px;
}

.htpice img{
    width: 100%;
}

.smalpic img{
    width: 100px;
    
}
.smalpic {
    margin: auto;
}


.threepic{
    margin: auto;
}


/*-- 待輪播 --*/

.slider li{
    /* background-color: teal; */
    /* padding: 5px; */
    
    
}

.bigpic{
    /* width: 1440px; */
    margin: 0 auto;    
}

.bigpic img{
    width: 100%;
    display: block;
}




.slick-next{
    display: none;
    right: 25px;
}

.slick-prev{
    left: 25px;
    display: none;
}

/* 輪播end */



.pic2 img{
    /* display: flex;
    justify-content: flex-end; */
    /* position: relative;
    z-index: 1;
    left: 10%; */
    display: block;
}

.pic3{
    justify-content: flex-start;
    display: flex;
}


.subemiddle{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 100px 0 0;
    padding-bottom: 80px;
    width: 1440px;
}

.subemiddle img{
    width: 100%;
}

.subemiddle h2{
    align-items: center;
    display: flex;
    text-align: center;
}

.pic3 , .pic2{
    margin: 0 10px;
}

/* .pic2.slide-in{
    transform: translateX(-30%);
}

.pic2.slide-in{
    transform: translateX(0%);
} */

.middle_left{
    animation:  left 20s forwards;
}

@keyframes left{

    0%{
        opacity: 0;
        transform: translatex(-5%);
    }
    100%{
        opacity: 1;
        transform: translatex(5%);
    }
}

.middle_right , .threepic{
    animation:  right 20s forwards;
}

@keyframes right{

    0%{
        opacity: 0;
        transform: translatex(5%);
    }
    100%{
        opacity: 1;
        transform: translatex(0%);
    }
}


/*  */


/* ---more---- */
.seemore{
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5px;
}

.moretit h1{
    text-align: center;
    border-bottom: 2px dashed;
    width: 200px;
    margin: auto;
    color: #4B7CAA;
}

.moretit h1:hover{
    color: #DEB887;
}

.aboutootd{
    display: flex;
    background-color: #292929;
    width: 100%;
    justify-content: center;

    position: relative;
    padding: 20px;
}

.ootdpiture{
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.ootdpiture li{
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc((80% - 60px) / 3);
    
}
/* @media (max-width: 767.98px){
    .ootdpiture li{
        width: calc((100% - 20px) / 2);
    }
    
   
} */



.ootdpiture h3:hover{
    opacity: 1;
    
} 

.ootdpiture img{
    filter: brightness(50%);
    width: 100%;

}

.ootdpiture img:hover{
    filter: brightness(100%);
}


/* ----------RWD------- */

@media screen and (max-width: 575.98px){
    .htpice , .bigpic , .subemiddle , .aboutootd{
      width: 100%;
    }
    
    .htpice{
        flex-direction: column-reverse;
    }

    .threepic{
        flex-direction: column;
        order: 3;
    }

    .smalpic{
        order: 2;
        display: flex;
        padding: 5px;
    }
    .ht_big{
        order: 1;
    }

     /* -mask- */
     .subemiddle{
        flex-direction: column;
    }

    .pic2{
        order: 3;
        margin: 0 -10px;
        display: none;
    }

    .middle_right{
        display: none;
    }

    .ootdpiture li{
        width: calc((80% - 20px) / 2);

    }

    .ootdpiture li:nth-child(even){
        margin-right: 10px;
        margin-right: -20px;
    }
}
  
@media (min-width: 576px) and (max-width: 767.98px){
    .htpice , .bigpic , .subemiddle{
      width: 540px;
    }



    .htpice{
        flex-direction: column-reverse;
    }

    .threepic{
        flex-direction: column;
        order: 3;
    }

    .smalpic{
        order: 2;
        display: flex;
        padding: 5px;
    }
    .ht_big{
        order: 1;
    }
    /* -mask- */
    .subemiddle{
        flex-direction: column;
    }

    .pic3 , .pic2{
        order: 3;
        margin: 0 -10px;
    }

    .middle_right{
        order: 1;
        flex-direction: row-reverse;
    }

    /* more */
    .ootdpiture li{
        width: calc((100% - 20px) / 2);
    }

}
  
@media (min-width: 768px) and (max-width: 991.98px){
    .htpice , .bigpic , .subemiddle{
      width: 720px;
    }

    /* -mask- */
    .pic3 , .pic2{
        order: 3;
        margin: 0 -10px;
    }

    .middle_left{
        display: none;
    }

    /* .ootdpiture li{
        width: calc((100% - 20px) / 2);
    } */
    
    
}
  
@media (min-width: 992px) and (max-width: 1199.98px){
    .htpice , .bigpic , .subemiddle , .ootdpiture{
      width: 960px;
    }

    
}
  
@media (min-width: 1200px) and (max-width: 1139.98px){
    .htpice , .bigpic , .subemiddle{
      width:1140px;
    }
}

