/* @import url('reset.css'); */
@import url('footer.css');
@import url('logonav.css');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}



html, body{
    height: 100%;
}





/* ---------------------大圖 */
.sub_bigpic{
    background-image: url('./img/sub/pexels-leah-kelley-1561321.jpg');
    width: 100%;
    background-size: cover;
    height: 520px;
    /* background-position: center; */
    background-position-y: 40%;
    margin-bottom: 30px;
}

.sub_bigpic h1{
    top: 58%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 0px 0px 10px;
    border-bottom: 2px dashed;
    color: #FFFFF3;
    
}

/* 訂閱--------------- */
main{
    width: 100%;
    /* padding: 100px 120px 40px; */
    min-height: 100%;
}

main img{
    display: block;
}

.subscricbe_wapper{
    width: 100%;
    display: flex;
}

.sub_pic1{
    display: flex;
    justify-content: center;

}


.pic1_text{
    display: flex;  
    align-items: center;
    font-size: 28px;
    margin-right: 50px;
    
}

.pic11t{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 26px;
}




.pic1 {
    display: flex;
    /* position: relative;
    left: 10%; */
    z-index: 2;
    
}

.pic1 img{
    width: 100%;
}


.sub_pic2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
    position: relative;
}

.sub_pic2 img{
    z-index: 1;
}

.sub_pic2::before{
    content: "";
    display: block;
    border: 5px solid #888098;
    position: absolute;
    width: 170px;
    height: 20%;

    left: 35%;
    top: 5%;
}

.sub_pic2:after{
    content: "";
    display: block;
    width: 170px;
    height: 20%;
    border: 5px solid #888098;
    position: absolute;
    bottom: 4%;
    right: 35%;
}

/* 中間圖片------------ */


.pic2{
    width: 100%;
}

.pic3{
    width: 100%;
}

/* .pic2{
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    left: 10%;
} */

.pic3{
    justify-content: flex-start;
    display: flex;
}

/* .subemiddle{
    display: flex; */



.mid_tite{
    display: flex;
    align-items: center;
    font-size: 26px;
    /* margin-right: 50px; */
}


.sub_content h5:before{
    content: "";
    display: block;
    height: 130px;
    border: 1px dashed #888098;
    position: absolute;
    bottom: 55%;
    left: 50%;

}

.sub_content{
    position: relative;
}



/* ------訂閱content------ */

.sub_content{
    padding: 100px 120px 10px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.sub_content h5{
    color: #303030;
    font-size: 20px;

}

.sub_content h4{
    color: #6E6483;
    font-size: 24px;
    line-height: 3.6;
    font-weight: bold;
}


/* ------訂閱content--- */
.email , .send{
    display: block;
	margin: 0 auto;
}

.email{
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 0;
    border-bottom: 1px solid ;
    margin-bottom: 20px;
    font-size: 16px;
}

.email:focus{
    background-color: #292929;
	color: #FFFFF3;
}

.send{
    width: 100px;
	height: 30px;
	font-size: 14px;
	background-color: #292929;
	color: #FFFFF3;
	border: 0;
	margin-bottom: 120px;
}

